<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a55a1bf-4b77-4bd7-a225-ff3b8ca3a86b/resourcegroups/new-resource-group/providers/Microsoft.Web/sites/PhoneLocator</ResourceId>
    <ResourceGroup>new-resource-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phonelocator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>phonelocator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PhoneLocator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PhoneLocator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PhoneLocatorContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:phonelocatordbserver.database.windows.net,1433;Initial Catalog=PhoneLocator_db;User ID=adm1n1strator@phonelocatordbserver;Password=AsCs05201977" Name="Data Source=tcp:phonelocatordbserver.database.windows.net,1433;Initial Catalog=PhoneLocator_db;User Id=adm1n1strator@phonelocatordbserver;Password=AsCs05201977" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PhoneLocator.Models.PhoneLocatorContext, PhoneLocator" MigrationConfiguration="PhoneLocator.Migrations.Configuration, PhoneLocator" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PhoneLocatorContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:phonelocatordbserver.database.windows.net,1433;Initial Catalog=PhoneLocator_db;User Id=adm1n1strator@phonelocatordbserver;Password=AsCs05201977</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>